extends layout

block content 
    h1= title 

    if user
        form(action="" method="POST")
            label(for="title") Title 
            input#title(type="text" name="title")

            label(for="body") Body 
            textarea#body( name="body")

            button(type="submit") Post
    else 
        p.authorization-message You are not authorized to post. Please 
            a(href='/login') login 
            |   or 
            a(href="/register")  register
            |  for an account.

    if (errors)
        ul.errors
            for error in errors 
                li= error.msg