extends layout 
block content 
    h1= title 
    form(action="" method="POST")
        label(for="first-name") First Name 
        input#first-name(type="text" name="firstName" value=user ? user.firstName : "")

        label(for="last-name") Last Name 
        input#last-name(type="text" name="lastName" value=user ? user.lastName : "")

        label(for="username") Username
        input#username(type="text" name="username")

        label(for="password") Password 
        input#password(type="password" name="password")
        button(type="submit") Register

    if errors
        for error in errors 
            li!=error.msg